@media screen and (min-width: 320px) and (max-width: 768px){
    p,
    .lead{
        font-size: .9rem;
    }

    .about-p{
        font-size: 1rem;
    }

    #button-newsletter{
        font-size: .7rem;
    }
}